.elements__btn-heart {
  border: none;
  width: 60px;
  background-color: transparent;
  background-image: url('../../../images/btn-heart.png');
  background-repeat: no-repeat;
  background-position: center;


  padding: 0 20px 0 0;
  cursor: pointer;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 300ms;

}
.elements__btn-heart:hover {
  opacity: .5;
}


