.popup__input-text {
  border: none;
  border-bottom: 1px solid rgba(0,0,0, .2);
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  padding-top: 30px;
  padding-bottom: 9px;
  min-width: 358px;
}
.popup__input-text:invalid {
  border-bottom-color: red;
}


@media screen and ( max-width: 600px ) {
  .popup__input-text {
    min-width: 234px;
  }
}
