.profile__name {
  padding: 0px 1px 0 2px;
  margin: 0;
  font-size: 42px;
  line-height: 48px;
  font-weight: 400;
  max-width: 309px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and ( max-width: 600px ) {
  .profile__name {
    padding-right: 11px;
    font-size: 27px;
    line-height: 33px;
    max-width: 222px;
  }
}
