.popup-image__container {

  display: flex;
  flex-direction: column;
  align-self: center;
  box-sizing: border-box;
  max-width: 80%;
  max-height: 80%;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  position: relative;
}

@media screen and ( max-width: 600px ) {
  .popup-image__container {
    max-width: 90%;

  }
}
