.popup__btn-close {
  cursor: pointer;
  border: none;
  background-color: transparent;
  background-image: url('../../../images/btn-popup-close.svg');
  background-position: center;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  align-self: end;
  opacity: 1;
  transition-duration: 300ms; /* https://developer.mozilla.org/ru/docs/Web/CSS/transition-duration */
  transition-property: opacity;
  position: absolute;
  top: 0;
  right: 0;
}

.popup__btn-close:hover {
  opacity: .6;
}

@media screen and ( max-width: 600px ) {
  .popup__btn-close {
    background-size: 20px;
    width: 20px;
    height: 20px;
    top: 10px;
  }
}
