.popup__btn-close {
  cursor: pointer;
  border: none;
  background-color: transparent;
  background-image: url('../../../images/btn-popup-close.svg');
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 8px;
  margin-left: 477px;
  width: 32px;
  height: 32px;
  align-self: center;
  opacity: 1;
  transition-duration: 300ms;
  transition-property: opacity;
}

.popup__btn-close:hover {
  opacity: .6;
}

@media screen and ( max-width: 600px ) {
  .popup__btn-close {
    background-size: 20px;
    width: 20px;
    height: 20px;
    margin-left: 262px;
    margin-bottom: 16px;
  }
}
