.popup__btn-close {
  cursor: pointer;
  border: none;
  background-color: transparent;
  background-image: url('../../../images/btn-popup-close.svg');
  background-position: center;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  opacity: 1;
  transition-duration: 300ms;
  transition-property: opacity;
  position: absolute;
  right: -40px;
  top: -40px;
}

.popup__btn-close:hover {
  opacity: .6;
}

@media screen and ( max-width: 600px ) {
  .popup__btn-close {
    background-size: 20px;
    width: 20px;
    height: 20px;
    right: 0;
    top: -36px;
  }
}
