.popup__btn-save {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
  background-color: #000;
  padding-top: 13px;
  padding-bottom: 15px;
  margin-top: 48px;
  border: none;
  border-radius: 2px;
  opacity: 1;
  transition-duration: 300ms; /* https://developer.mozilla.org/ru/docs/Web/CSS/transition-duration */
  transition-property: opacity;
}

.popup__btn-save:hover {
  opacity: .8;
}

@media screen and ( max-width: 600px ) {
  .popup__btn-save {
    padding-top: 13px;
    padding-bottom: 17px;
    margin-top: 44px;
    font-size: 14px;
    line-height: 17px;
  }
}
